{% extends 'base/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<div class="container">
    <div class="container" border-bottom: 1px solid #cccccc;">
        <div class="row">
            <div class="col-md-12">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
              </div>
        </div>

        <div class="row">
            <h4><i class="fa fa-heart"></i> Your favourites!</h4>
        </div>

        <div class="row" style="margin-top: 10px;">
            <h5>Foods</h5>
            {% for food in foods %}
                <div class="col-md-3">
                    <div class="card h-100" style="height: 300px auto; margin-bottom:10px;" >
                        <div class="imgcontainer">
                        <img class="thumbnail food" src="{% if food.image %}{{ food.image.url }}{% else %}{% static 'base/img/no_image.png' %}{% endif %}" style=" height:200px" />
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <a href="{{ food.get_absolute_url_for_customer }}" class="text-dark text-decoration-none">{{ food.name }}</a>
                            </div> 
                            {% if food.discount_percent > 0 %}
                                <small class="text-muted"><img src="{% static 'base/img/tag.png' %}" style="width: 20px; height: 20px;" />
                                {{ food.discount_percent }}% off</small><br/>
                            {% else %}
                                <br/>
                            {% endif %}
                            <small>{{ food.category.name }}</small>
                            <br/>
                            <small>
                                {% if food.discount_percent > 0 %}
                                    Rs. <del class="text-muted">{{ food.price }}</del> {{ food.get_selling_price }}
                                {% else %}
                                    Rs. {{ food.price }}
                                {% endif %}
                            </small>
                            <br/>
                            <small>{{ food.restaurant.name }}</small>
                            <br/>
                            {% ratings food %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <span class="text-muted">Sorry, no food found!</span>
            {% endfor %}
        </div>

        <div class="row" style="margin-top: 20px;">
            <h5>Restaurants</h5>
            {% for restaurant in restaurants %}
                <div class="col-md-3">
                    <div class="card" style="height: 300px auto; margin-bottom:10px;" >
                        <div class="imgcontainer">
                        <img class="thumbnail restaurant-logo food" src="{% if restaurant.logo %}{{restaurant.logo.url}} {% else %} {% static 'base/img/no_image.png' %}{% endif %}" style=" height:200px" />
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <a href="{{ restaurant.get_absolute_url }}" class="text-dark text-decoration-none">{{ restaurant.name }}</a>
                            </div> 
                            <small>{{ restaurant.category.name }}</small><br/>
                            <small><i class="fa fa-clock text-muted" ></i> {{ restaurant.open_hour }} - {{ restaurant.close_hour }}</small>
                            <br/>
                            {% ratings restaurant %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <span class="text-muted">Sorry, no restaurant found!</span>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
