{% extends 'base/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<div class="container">
    <!--This is temporary placeholder for foods-->
    <div class="container" border-bottom: 1px solid #cccccc;">
        <div class="row" style="margin-bottom: 10px;">
            <h4><i class="fas fa-cookie-bite"></i> Hot picks</h4>
        </div>
        <div class="row">
            {% for food in foods %}
                <div class="col-md-3">
                    <div class="card" style="height: 300px auto; margin-bottom:10px;" >
                        <img class="thumbnail" src="{% if food.image %}{{ food.image.url }}{% else %}{% static 'base/img/no_image.png' %}{% endif %}" style=" height:200px" />
                        <div class="card-body">
                            <div class="card-title">
                                <a href="{{ food.get_absolute_url_for_customer }}" class="text-dark text-decoration-none">{{ food.name }}</a>
                                {% if food.discount_percent > 0 %}
                                    (<img src="{% static 'base/img/tag.png' %}" style="width: 20px; height: 20px;" />
                                    {{ food.discount_percent }}% off)
                                {% endif %}
                            </div> 
                            <small class="text-muted">{{ food.category.name }}</small>
                            <br/>
                            <small class="text-muted">
                                {% if food.discount_percent > 0 %}
                                    <del class="text-danger"> Rs. {{ food.price }}</del> Rs. {{ food.get_selling_price }}
                                {% else %}
                                    Rs. {{ food.price }}
                                {% endif %}
                            </small>
                            <br/>
                            <small class="text-muted">{{ food.restaurant.name }}</small>
                            <br/>
                            {% ratings food %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>   
    </div>

</div>
{% endblock content %}
