{% extends "base/base.html" %}
{% block content %}

{% for orders, values in context.items %}
<div class="card">
    <div class="card-body">
        <div class="row d-flex justify-content-around">
            <span>{{ orders.created|date:'j M, Y' }}</span>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <div class="row">
                        <th class="col-md-2">Restaurant</th>
                        <th class="col-md-4">Food</th>
                        <th class="col-md-2">Quantity</th>
                        <th class="col-md-2">Unit Price</th>
                        <th class="col-md-2">Total Price</th>
                    </div>
                    </tr>
                </thead>
                <tbody>
                    {% for value in values %}
                    <tr>      
                        <td>{{ value.food.restaurant.name }}</td>
                        <td>{{ value.food.name }}</td>
                        <td>{{ value.quantity }}</td>
                        <td>{{ value.price }}</td>
                        <td>{{ value.get_cost }}</td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}