{% load bootstrap5 %}
{% load static %}
{% load fontawesome_5 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Express{% if title %} - {{ title }} {% endif %}</title>

        <!--Custom Font Import-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

        <!--Favicon-->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'base/img/favicon.ico' %}"/>
        
        <!--Custom CSS-->
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
        
        <!--Bootstrap and FontAwesome-->
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% fontawesome_5_static %}

         <!--Django Star Ratings-->
        <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
        <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
        {% block extraheadelements %}{% endblock %}
        <style>
          .star-ratings-rating-average, .star-ratings-rating-count, .star-ratings-rating-user {
            display: none;
          }
        </style>
      </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">{{user.restaurant.name}}</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav px-3">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:logout' %}">Sign out</a>
                </li>
              </ul>
        </header>
        <div class="container-fluid">
            <div class="row">
              <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link {% if section == 'dashboard' %} active {% else %} text-dark {% endif %}" href="{% url 'restaurants:restaurant_dashboard' %}">
                        <i class="fas fa-chart-line"></i> Dashboard
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if section == 'foods' %} active {% else %} text-dark {% endif %}" href="{% url 'restaurants:food_list' %}">
                        <i class="fas fa-cookie-bite"></i> Foods
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if section == 'profile' %} active {% else %} text-dark {% endif %}" href="{% url 'restaurants:update_profile' %}">
                        <i class="fas fa-user-alt"></i> Profile
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if section == 'location' %} active {% else %} text-dark {% endif %}" href="{% url 'restaurants:add_location' %}">
                        <i class="fas fa-map-marker-alt"></i> Location
                      </a>
                    </li>
                  </ul>
                  
                  <h6 class="d-flex text-uppercase justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span><i class="fas fa-ticket-alt"></i> Active Coupons</span>
                  </h6>
                  <ul class="nav flex-column mb-2">
                    {% for coupon in active_coupons%}
                        <li class="nav-item">
                            <a class="nav-link {% if section == coupon.code %} active {% else %} text-dark {% endif %} display-inline" href="{% url 'restaurants:update_coupon' coupon.id %}">
                                <i class="fas fa-edit"></i> {{ coupon.code }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link {% if section == 'coupons' %} active {% else %} text-dark {% endif %}" href="{% url 'restaurants:add_coupon' %}">
                          <i class="fas fa-plus"></i> Add Coupon 
                        </a>
                      </li>
                  </ul>

                  <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Orders</span>
                  </h6>
                  <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Current month
                      </a>
                    </li>
                  </ul> -->
                </div>
              </nav>
          </div>
          </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            {% block content %}
              <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
              
              <div class="container">
                <h3>{{ user.restaurant.name }}</h3>
                <h5>Sales</h5>
                <canvas id="pie-chart" style="max-height: 70vh; width: auto;"></canvas>
              </div>

              <script>
                var config = {
                  type: 'bar',
                  data: {
                    datasets: [{
                      data: {{ data|safe }},
                      label: 'Sales',
                      backgroundColor: 'rgba(255, 99, 132, 0.2)',
                      borderColor: 'rgb(255, 99, 132)',
                      borderColor: 'rgb(242, 119, 148)',
                      borderWidth: 1
                    }],
                    labels: {{ labels|safe }}
                  },
                  options: {
                    scales: {
                      y: {
                        beginAtZero: true
                      }
                    }
                  }
                };
            
                window.onload = function() {
                  var ctx = document.getElementById('pie-chart').getContext('2d');
                  window.myPie = new Chart(ctx, config);
                };
              </script>
            {% endblock %}
          </div>
        </main>
        <footer></footer>
    </body>
    {% block doc_script %}{% endblock %}
</html>
