{% extends 'base/base.html' %}

{% block title %}
    {% if category %} {{ category.name }} -{% endif %}Restaurants
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-3">
            <h3 class="align-items-center">
                Category
            </h3>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url "restaurants:restaurant_list" %}"
                        class="nav-link {% if not category %}active{% else %}text-dark{% endif %}">All</a>
                </li>
                {% for c in categories %}
                    <li class="nav-item">
                        <a href="{{ c.get_absolute_url }}"
                            class="nav-link {% if category.slug == c.slug %}active{% else %}text-dark{% endif %}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-9">
                <h3 class="align-items-center text-dark">
                    Restaurants {% if category %}- {{ category.name }} {% endif %}
                </h3>
                <hr>
                <div class="row">
                    {% for restaurant in restaurants %}
                    <div class="col-lg-4">
                        <div class="card" style=" height:500px" >
                            <img class="thumbnail" src="{{restaurant.logo.url}}" style=" height:200px">
                            <hr>
                            <div class="card-body ">
                                <div class="card-title">{{restaurant.name}}</div> 
                                <p>{{restaurant.category.name}}</p>
                                <p>open time:{{restaurant.open_hour}}</p>
                                <p>close time:{{restaurant.close_hour}}</p>
                        
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                 </div>   
                        
        </div>
    </div>

    
{% endblock %}