{% extends 'restaurants/dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h3 class='border-bottom'>Restaurant Profile</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
        <div>
            <h2 class='border-bottom'>Account Settings</h2>
            <a class="btn btn-success" href="{% url 'accounts:password_change' %}">Change Password</a>
        </div>
    </div> 
{% endblock content %}