aiohttp==3.7.4.post0
amqp==5.0.6
asgiref==3.3.4
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
branca==0.4.2
celery==5.1.0
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
crispy-bootstrap5==0.4
Django==3.2
django-bootstrap-v5==1.0.2
django-braces==1.14.0
django-crispy-forms==1.11.2
django-fontawesome-5==1.0.18
django-model-utils==4.1.1
django-phonenumber-field==5.1.0
django-star-ratings==0.9.1
folium==0.12.1
geographiclib==1.50
geoip2==4.2.0
geopy==2.1.0
idna==2.10
importlib-metadata==2.1.1
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
maxminddb==2.0.3
multidict==5.1.0
numpy==1.20.3
phonenumbers==8.12.21
Pillow==8.2.0
prompt-toolkit==3.0.18
python-dotenv==0.17.0
pytz==2021.1
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
swapper==1.1.2.post1
typing-extensions==3.10.0.0
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
yarl==1.6.3
zipp==3.4.1
