.order-list{
    
}

.order-list-item{
    padding: 15px 15px;
    background-color: grey;
    margin:5px 5px;
    position: relative;
}

.order-list-item > a{
    float:right;
    text-decoration: none;
    border: 1px solid cyan;
    padding: 5px 5px;
    display: inline;
    top: 50%;
}

.order-list-item > h3{
    display: inline;
}