{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container" style="margin-top: 20px; margin-bottom: 20px;">

        <div class="row" style="margin-bottom: 20px;">
            <h4><i class="fas fa-money-check-alt"></i> Buy now</h4>
        </div>

        <div class="row">
            <div class="col-md-12" id="msg-div">
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
              </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <p><img src="{% if food.image %}{{ food.image.url }}{% else %}{% static 'base/img/no_image.png' %}{% endif %}" alt="" width=300px /></p>
                <p>Name: {{ food.name }}</p>
                <p>Price: Rs. {{ food.get_selling_price }}</p>
                <p>Restaurant: {{ food.restaurant.name }}</p>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class=col-md-8>
                        <input type="text" name="code" placeholder="Apply Coupon" class="textinput textInput form-control" required id="id_code">
                        {% csrf_token %}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" id="apply-button">Apply</button>
                    </div>
                </div>
                <br>
                <form method="post" id="order-form">
                    <div class="form-group">
                        {{ form.delivery_location.label }}
                        {{form.delivery_location }}
                        <a class="text-muted text-decoration-none " style="margin-left: 3%;" href="{% url 'customer:add_delivery_location' %}">
                            <i class="fas fa-plus"></i> Add New
                        </a>
                    </div>
                    <div class="form-group" style="margin-top: 3%;">
                        {{ form.quantity.label }}
                        {{ form.quantity }}
                        {% csrf_token %}
                        <br>
                        <p id="total-price" style="margin-top: 2%;"></p>
                    </div>
                    <div class="form-group" >
                        <button class="btn btn-success" style="width:200px; text-align:center" id="cash-payment" type="submit" >Pay by cash on delivery</button>
                    </div>
                </form>
                <p class="mb-0" style="margin-left: 21%;">-or-</p>
                <button class="btn btn-success" style="width:200px; text-align:center" id="khalti-button">Pay by Khalti</button>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra %}
<script>
    var khaltiBtn = document.getElementById("khalti-button");
    var cashBtn = document.getElementById("cash-button");

    var couponField = document.getElementById('id_code');
    var createOrderForm = document.getElementById('order-form');
    var totalPriceTag = document.getElementById('total-price');
    var quantityField = document.getElementById('id_quantity');
    quantityField.disabled = true;
    var amount = {{ food.get_selling_price }} * quantityField.value
    totalPriceTag.innerHTML = "Total Price: Rs."+ amount.toString();

    var coupon_applied = '';

    function verifyPayment(payload){
        $.ajax({
            url: "{% url 'orders:verify_payment' %}",
            type: 'POST',
            data: payload,
            dataType: 'json',
            success: function(data){
                quantity = quantityField.value;
                if (coupon_applied == ''){
                    createOrderForm.action = "{% url 'orders:order_create_buy_now_khalti_payment' food.id 1234 5678 %}".replace('1234', quantity.toString()).replace('5678', data.token.toString());
                }
                else{
                    createOrderForm.action = "{% url 'orders:order_create_buy_now_khalti_payment_coupon' food.id 123 345 567%}".replace('123', quantity.toString()).replace('345', data.token.toString()).replace('567', coupon_applied);
                }
                createOrderForm.submit();
            },
            error: function(error){
                console.log(error)
            }
        });
    }

    var config = {
        "publicKey":  "test_public_key_a90725c412574caea7a09d3bf750d3da",
        "productIdentity": "{{ food.id }}",
        "productName": "food-express-food-{{ food.name }}",
        "productUrl": "http://wikipedia.org/",
        "paymentPreference": [
            "KHALTI",
            ],
        "eventHandler": {
            onSuccess (payload) {
                // hit merchant api for initiating verfication
                //console.log(payload);
                verifyPayment(payload);
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    khaltiBtn.onclick = function () {
        // minimum transaction amount must be 10, i.e 1000 in paisa.
        checkout.show({amount:roundToTwo(amount)  * 100.00});
    };

    function roundToTwo(num) {
        return +(Math.round(num + "e+2")  + "e-2");
    }

    function verifyCoupon(coupon){
        $.ajax({
            url: "{% url 'coupons:ajax_verify_coupon' %}",
            type: 'POST',
            data: {coupon: coupon},
            dataType: 'json',
            success: function(response){
                var msgDiv = document.getElementById('msg-div');
                var tag = response['response'];
                if (tag=='danger'){
                    msgDiv.innerHTML = "<div class='alert alert-danger'> Coupon code error! </div>"
                    couponField.value='';
                }
                else if(tag=='warning'){
                    msgDiv.innerHTML = "<div class='alert alert-warning'> You have already used this code. </div>"
                    couponField.value='';
                }
                else if(tag=='success'){
                    msgDiv.innerHTML = "<div class='alert alert-success'> Coupon code valid. </div>"
                    var discount_percent = response['discount'];
                    var discount = amount * (discount_percent/100);
                    var actual_amount = amount;
                    amount = actual_amount - discount;
                    totalPriceTag.innerHTML = "Total Price: Rs. <del>"+ actual_amount.toString() + "</del> "+ amount.toString() + "<br>(Using promo code, " + couponField.value +", " + discount_percent.toString() + "% off)";
                    applyBtn.hidden = true;
                    couponField.disabled = true;
                    coupon_applied = couponField.value;
                }
                console.log(tag);
            },
            error: function(error){
                console.log('error', error);
            }
        });
    }

    var applyBtn = document.getElementById('apply-button');
    var couponField = document.getElementById('id_code');
    applyBtn.onclick = function(){
        coupon = couponField.value;
        verifyCoupon(coupon);
    };

    var cashPaymentBtn = document.getElementById('cash-payment')
    cashPaymentBtn.onclick = function(){
        quantity = quantityField.value;
        if (coupon_applied == ''){
            createOrderForm.action="{% url 'orders:order_create_buy_now' food.id 1234 %}".replace('1234', quantity.toString());
        }
        else{
            createOrderForm.action="{% url 'orders:order_create_buy_now_coupon' food.id 1234 '5678' %}".replace('1234', quantity.toString()).replace('5678', coupon_applied.toString());
        }
        createOrderForm.submit();
    }


</script>
{% endblock %}
