{% extends "base/base.html" %}
{% load static %}
{% load ratings %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'foods:food_list' %}">Foods</a></li>
              <li class="breadcrumb-item"><a href="{% url 'foods:foods_list_by_category' food.category.slug %}">{{ food.category.name }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ food.name }}</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div style="text-align: center;">
                    <img src="{% if food.image %}{{ food.image.url }}{% else %}{% static 'base/img/no_image.png' %}{% endif %}" alt="" width=300 height=300 style="border-radius: 50%;" />
                </div>
                <div class="row" style="margin-top: 20px; text-align: center;">
                    <h4>{{ food.name }}</h4>
                    <p>{{ food.category.name }}</p>
                    <p>
                        {% if food.discount_percent > 0 %}
                            <small class="text-muted">(<img src="{% static 'base/img/tag.png' %}" style="width: 20px; height: 20px;" />
                            {{ food.discount_percent }}% off)</small>
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="col-lg-8 col-md-7">
                <div class="col-md-12">
                    
                        <div class="col-md-6">
                        <form id="quantity_form" action="{% url 'cart:cart_add' food.id %}" method="post">
                            <span>
                                {{ cart_food_form.quantity|as_crispy_field }}
                                {{ cart_food_form.override }}
                        </div>
                        <div class="col-md-6" style="margin-top:2%;margin-bottom:2%">
                                {% csrf_token %}
                                <div class="row">
                                <div class="col-md-6">
                                <button class="btn btn-sm btn-success" id="id_buy_now_btn">
                                    <i class="fas fa-money-check-alt"></i> Buy Now
                                </button>
                                </div>
                                <div class="col-md-6">
                                <button type="submit" class="btn btn-sm btn-primary" style="float:right" ><i class="fas fa-cart-plus"></i> Add to Cart</button>
                                </div>
                            </span>
                        </div>
                        </form>
                </div>

                <div class="row">
                    {% if food.description %}
                        <div class="row">
                            <div class="col-md-5 col-5">
                                <strong>Description:</strong>
                            </div>
                            <div class="col-md-7 col-7">
                                <p>{{ food.description }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-5 col-5">
                            <strong>Price:</strong>
                        </div>
                        <div class="col-md-7 col-7">
                            <p>
                                {% if food.discount_percent > 0 %}
                                    <del class="text-danger"> Rs. {{ food.price }}</del> Rs. {{ food.get_selling_price }}
                                {% else %}
                                    Rs. {{ food.price }}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-5">
                            <strong>Restaurant:</strong>
                        </div>
                        <div class="col-md-7 col-7">
                            <p>
                                <a href="{{ food.restaurant.get_absolute_url }}">
                                    {{ food.restaurant.name }}
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-5">
                            <strong>Available:</strong>
                        </div>
                        <div class="col-md-7 col-7">
                            <p>
                                {% if food.available %}
                                    <i class="fas fa-check text-success"></i>
                                {% else  %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-5">
                            <strong>Ratings:</strong>
                        </div>
                        <div class="col-md-7 col-7">
                            {% ratings food %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra %}
    <script>
        var btn = document.getElementById('id_buy_now_btn');
        var form = document.getElementById('quantity_form');

        btn.onclick(function(){
            form.action = "{% url 'foods:buy_now' %}"
            form.submit()
        });
    </script>
{% endblock %}