<p>Dear {{ order.customer.user.username }},</p>
<p>Your order is created successfully. Your order id is <b>{{ order.id }}</b>.</p>
<p>Here are your details:</p>
<ul>
    <li>Created on: {{ order.created }}</li>
    <li>
        {% if not order.payment_by_cash %}
            Khalti Transaction ID: {{ order.transaction }}
        {% endif %}
    </li>
    <li>
        Payment Method: {% if order.payment_by_cash %}Cash on delivery{% else %}Khalti{% endif %}
    </li>
    <li>Delivery Location: {{ order.delivery_location.address }}</li>
    <li>Total Amount: Rs. {{ order.get_total_cost }}</li>
    <li>Status: {% if order.complete %}Completed {% else %}Incomplete{% endif %}</li>
    <li>Verification Status: {% if not order.verified %}Not Verified{% else %}Verified{% endif %}</li>
</ul>
<h3>Foods Ordered</h3>
<ul>
    {% for item in order.items.all %}
    <li> {{ item.quantity }}x  {{ item.food.name }} -------------- Rs. {{ item.get_cost }}</li>
    {% endfor %}
    {% if order.coupon %}
        Used <strong>{{ order.coupon.code }}</strong> coupon ({{order.coupon.discount}}% off)............. -Rs. {{order.get_discount}}
    {% endif %}
</ul>
<p><b>Total: Rs. {{ order.get_total_cost }}</b></p>
<p>Thank you for using Food Express.</p>
<p><b>Note: If your order is unverified you would get a call shortly to verify your order. Plaese wait patiently.</b></p>