{% extends "admin/base_site.html" %}
{% load static %}
{% load fontawesome_5 %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/css/verify_order.css' %}"/>
    <style>
        @media print{
            .object-tools, .breadcrumbs, .verification{
                display: none;
            }
        }
    </style>
    {% fontawesome_5_static %}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Food Express</a></h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>&rsaquo; 
    <a href="/admin/orders">Orders</a>&rsaquo;
    <a href="/admin/orders/order">Orders</a>&rsaquo;Order {{ order.id }} by {{ order.customer.user.username }}
    </div>
{% endblock %}

{% block content %}
    <h1> Order {{ order.id }} </h1>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">Print order</a>
        </li>
    </ul>
    <hr/>
    <table>
        <tr>
            <th>Created</th>
            <td>{{ order.created }}</td>
        </tr>
        {% if not order.payment_by_cash %}
            <tr>
                <th>Khalti Transaction ID</th>
                <td>{{ order.transaction }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Payment Method</th>
            <td>{% if order.payment_by_cash %}Cash on delivery{% else %}Khalti{% endif %}</td>
        </tr>
        <tr>
            <th>Customer</th>
            <td>{{ order.customer.full_name }}</td>
        </tr>
        <tr>
            <th>Delivery Location</th>
            <td>{{ order.delivery_location.address }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.customer.user.email }}">{{ order.customer.user.email }}</a></td>
        </tr>
        <tr>
            <th>Phone No.</th>
            <td>{{ order.customer.phone_no }}</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>Rs. {{ order.get_total_cost }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                {% if order.complete %}
                    <i class="fas fa-check-circle" style='color: green;'></i> Completed
                {% else %}
                    <i class="fas fa-times-circle" style='color: red;'></i> Incomplete
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Verification Status</th>
            <td>
                {% if not order.verified %}
                        <i class="fas fa-times-circle" style='color: red;'></i> Not Verified
                        <small class="verification"><a href="{% url 'orders:verify_order' order.id %}" style='color:gray;'>Click <b>here</b> to verify.</a></small>
                {% else %}
                    <i class="fas fa-check-circle" style='color: green;'></i> Verified
                {% endif %}
            </td>
        </tr>
    </table>
    <br/>
    <div class="module">
        <h2>Foods Ordered</h2>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td> {{ item.food.name }} </td>
                        <td> Rs. {{ item.price }} </td>
                        <td> {{ item.quantity }} </td>
                        <td> Rs. {{ item.get_cost }} </td>
                    </tr>
                {% endfor %}
                {% if order.coupon %}
                    <tr class="total">
                        <td colspan="3">Used <strong>{{ order.coupon.code }}</strong> coupon ({{order.coupon.discount}}% off)</td>
                        <td class="num">-Rs. {{ order.get_discount }}</td>
                    </tr>
                {% endif %}
                <tr class="total">
                    <td colspan="3">Total</td>
                    <td class="num">Rs. {{ order.get_total_cost }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}