{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 20px;">
        <h4><i class="fas fa-redo"></i> Reorder</h4>
    </div>

    <div class="row">
        <div class="col-md-12" id="msg-div">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <table class="table table-sm table-borderless caption-top table-responsive w-auto">
            <caption>Order Detail</caption>
            <tbody>
                <tr>
                    <th>Order ID</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ order.created }}</td>
                </tr>
                {% if not order.payment_by_cash %}
                    <tr>
                        <th>Khalti Transaction ID</th>
                        <td>{{ order.transaction }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Payment Method</th>
                    <td>{% if order.payment_by_cash %}Cash on delivery{% else %}Khalti{% endif %}</td>
                </tr>
                <tr>
                    <th>Delivery Location</th>
                    <td>{{ order.delivery_location.address }}</td>
                </tr>
                <tr>
                    <th>Total Amount</th>
                    <td>Rs. {{ order.get_total_cost }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {% if order.complete %}
                            <i class="fas fa-check-circle" style='color: green;'></i> Completed
                        {% else %}
                            <i class="fas fa-times-circle" style='color: red;'></i> Incomplete
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Verification Status</th>
                    <td>
                        {% if not order.verified %}
                                <i class="fas fa-times-circle" style='color: red;'></i> Not Verified
                        {% else %}
                            <i class="fas fa-check-circle" style='color: green;'></i> Verified
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <table class="table table-striped caption-top">
            <caption>Ordered Foods</caption>
            <thead>
                <tr>
                    <th>Food</th>
                    <th>Restaurant</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td> {{ item.food.name }} </td>
                        <td>{{ item.food.restaurant.name }}</td>
                        <td> Rs. {{ item.price }} </td>
                        <td> {{ item.quantity }} </td>
                        <td> Rs. {{ item.get_cost }} </td>
                    </tr>
                {% endfor %}
                {% if order.coupon %}
                    <tr class="table-danger">
                        <td colspan="4">Total cost before applying coupon</td>
                        <td class="num">Rs. {{ order.get_total_cost_before_discount }}</td>
                    </tr>
                    <tr>
                        <td colspan="4">Used <strong>{{ order.coupon.code }}</strong> coupon ({{order.coupon.discount}}% off)</td>
                        <td class="num">-Rs. {{ order.get_discount }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="4">Total</td>
                    <td class="num">Rs. {{ order.get_total_cost }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" name="code" placeholder="Apply Coupon" class="textinput textInput form-control" required id="id_code">
            {% csrf_token %}
        </div>
        <div class="col">
            <button class="btn btn-primary" id="apply-button"><i class="fas fa-check-square"></i> Apply</button>
        </div>
        <div class="col">
            <p class="text-muted" id="total-price">Total Cost: {{ order.get_total_cost_before_discount }}</p>
        </div>
        <div class="col">
            <button class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#reorderModal">
                <i class="fas fa-money-check-alt"></i> Reorder
            </button>
        </div>
    </div>
</div>

<!-- reorderModal -->
<div class="modal fade" id="reorderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="#reorderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reorderModal">Reorder order {{ order.id }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" id="order-form">
                <div class="form-group mb-3 text-center">
                    {{ create_order_form.delivery_location.label }}:
                    {{ create_order_form.delivery_location }}
                    {% csrf_token %}
                    <a class="text-muted text-decoration-none " href="{% url 'customer:add_delivery_location' %}">
                        <i class="fas fa-plus"></i> Add New
                    </a>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" type="submit" id="cash-button">Pay by cash on delivery</button>
                </div>
            </form>
            <div class="text-center mb-0">
                <p class="mb-0">-or-</p>
                <button class="btn btn-success" type="submit" id="khalti-button">Pay by Khalti</button>
            </div>
            <br/>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra %}
<script>
    var amount = {{ order.get_total_cost_before_discount }};
    var totalPriceTag = document.getElementById('total-price');

    var createOrderForm = document.getElementById('order-form');

    var khaltiBtn = document.getElementById("khalti-button");
    var cashBtn = document.getElementById("cash-button");

    var coupon_apply = '';

    function verifyCoupon(coupon){
        $.ajax({
            url: "{% url 'coupons:ajax_verify_coupon' %}",
            type: 'POST',
            data: {coupon: coupon},
            dataType: 'json',
            success: function(response){
                var msgDiv = document.getElementById('msg-div');
                var tag = response['response'];
                if (tag=='danger'){
                    msgDiv.innerHTML = "<div class='alert alert-danger'> Coupon code error! </div>"
                    couponField.value='';
                }
                else if(tag=='warning'){
                    msgDiv.innerHTML = "<div class='alert alert-warning'> You have already used this code. </div>"
                    couponField.value='';
                }
                else if(tag=='success'){
                    msgDiv.innerHTML = "<div class='alert alert-success'> Coupon code valid. </div>"
                    var discount_percent = response['discount'];
                    var discount = amount * (discount_percent/100);
                    var actual_amount = amount;
                    amount = actual_amount - discount;
                    totalPriceTag.innerHTML = "Total Price: Rs. <del>"+ actual_amount.toString() + "</del> "+ amount.toString() + "<br>(Using promo code, " + couponField.value +", " + discount_percent.toString() + "% off)";
                    coupon_apply = couponField.value;
                    applyBtn.hidden = true;
                    couponField.hidden = true;
                }
                console.log(tag);
            },
            error: function(error){
                console.log('error', error);
            }
        });
    }

    var applyBtn = document.getElementById('apply-button');
    var couponField = document.getElementById('id_code');
    applyBtn.onclick = function(){
        coupon = couponField.value;
        verifyCoupon(coupon);
    };

    function verifyPayment(payload){
        $.ajax({
            url: "{% url 'orders:verify_payment' %}",
            type: 'POST',
            data: payload,
            dataType: 'json',
            success: function(data){
                if (coupon_apply == ''){
                    createOrderForm.action = "{% url 'orders:create_order_reorder_khalti' order.id 5678 %}".replace('5678', data.token.toString());
                }
                else{
                    createOrderForm.action = "{% url 'orders:create_order_reorder_khalti_coupon' order.id 345 567 %}".replace('345', data.token.toString()).replace('567', coupon_apply);
                }
                createOrderForm.submit();
            },
            error: function(error){
                console.log(error)
            }
        });
    }

    var config = {
        "publicKey":  "test_public_key_a90725c412574caea7a09d3bf750d3da",
        "productIdentity": "{{ order.id }}",
        "productName": "food-express-reorder-{{ order.id }}",
        "productUrl": "http://wikipedia.org/",
        "paymentPreference": [
            "KHALTI",
            ],
        "eventHandler": {
            onSuccess (payload) {
                // hit merchant api for initiating verfication
                //console.log(payload);
                verifyPayment(payload);
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    khaltiBtn.onclick = function () {
        // minimum transaction amount must be 10, i.e 1000 in paisa.
        checkout.show({amount: amount * 100.00});
    };

    var cashPaymentBtn = document.getElementById('cash-button')
    cashPaymentBtn.onclick = function(){
        if (coupon_apply == ''){
            createOrderForm.action="{% url 'orders:create_order_reorder' order.id %}";
        }
        else{
            createOrderForm.action="{% url 'orders:create_order_reorder_coupon' order.id '5678' %}".replace('5678', coupon_apply);
        }
        createOrderForm.submit();
    }

</script>
{% endblock %}