{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'orders/css/verify_order.css' %}"/>
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Food Express</a></h1>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo; 
        <a href="/admin/orders">Orders</a> &rsaquo; Orders_Unverified
    </div>
{% endblock %}

{% block content %}
    <div class="module">
        <h2> Orders Unverified </h2>
        <table style="width:100%">
            <thead>
                <tr>
                    <th> Order </th>
                    <th> Customer </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr class="row{% cycle '1' '2' %}">
                        <td>{{ order.id }}</td>
                        <td>{{ order.customer.user.username }}</td>
                        <td><a href="{% url 'orders:order_detail' order.id %}"> View detail</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}