{% extends "base/base.html" %}

{% block content %}
    <div class="container" style="margin-top: 20px; margin-bottom: 20px">
        <div class="content-section">
            <div class="alert alert-info">
                You have been logged out of your account!
            </div>
            
            <div class="pt-3">
                <small class="text-muted">
                    <a href="{% url 'accounts:login' %}">Login Again</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}
