{% extends user.is_customer|yesno:"base/base.html,restaurants/dashboard.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="content-section">
            <div class="row">
                <h4 style="margin-bottom: 20px;"><i class="fas fa-key"></i> Change Password</h4>
                <div class="col-md-6">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
