.navbar{
    background-color: rgba(255, 166, 0, 0.733);
}

.login-btn{
    background-color: palegreen;
    border-radius: 200px;
}

.about{
    background-image: url("../base/home.jpg");
    background-color: rgba(0, 0, 0, 0.329);
    background-blend-mode: multiply;
    color: white;
    min-height: 30vh;
}

