{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h4>Orders</h4>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 30px;">
        {% for order, values in context.items %}
            <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-heading-{{ order.id }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ order.id }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse-{{ order.id }}">
                    <h5>
                        Order {{ order.id }} <small class="text-muted">({{ order.created|date:'j M, Y' }})</small>
                        {% if order.designation and not order.complete %}
                            <span class="badge rounded-pill text-danger" style="background-color: bisque">Incomplete</span>
                        {% elif order.complete %}
                            <span class="badge rounded-pill text-success" style="background-color: lightgreen">Complete</span>
                        {% endif %}
                    </h5>
                </button>
            </h2>
            <div id="panelsStayOpen-collapse-{{ order.id }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-{{ order.id }}">
                <div class="accordion-body">
                    {% if order.complete %}
                        <span class="text-muted">This order has been completed.</span>
                        <a class="text-primary btn-sm text-decoration-none text-danger" 
                            href="{% url 'delivery_person:mark_order_as_incomplete' order.id %}"
                            title="Mark {{ order.id }} as incomplete">
                            <i class="fa fa-times"></i> Mark as incomplete
                        </a>
                    {% else %}
                        <span class="text-muted">This order is incomplete.</span>
                        <a class="text-primary btn-sm text-decoration-none" 
                            href="{% url 'delivery_person:mark_order_as_complete' order.id %}"
                            title="Mark {{ order.id }} as complete">
                            <i class="fa fa-check"></i> Mark as complete
                        </a>
                    {% endif %}

                    <a class="text-primary btn-sm text-decoration-none float-end" 
                        href="{% url 'delivery_person:order_detail' order.id %}"
                        title="View order details for {{ order.id }} including delivery location">
                        <i class="fas fa-eye"></i> View order detail
                    </a>

                    <table class="table table-bordered" id="table-{{ order.id }}" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <div class="row">
                                    <th class="col-md-2">Restaurant</th>
                                    <th class="col-md-4">Food</th>
                                    <th class="col-md-2">Quantity</th>
                                    <th class="col-md-2">Unit Price</th>
                                    <th class="col-md-2">Total Price</th>
                                </div>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in values %}
                            <tr>      
                                <td>{{ value.food.restaurant.name }}</td>
                                <td>{{ value.food.name }}</td>
                                <td>{{ value.quantity }}</td>
                                <td>Rs. {{ value.price }}</td>
                                <td>Rs. {{ value.get_cost }}</td>   
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4"><strong>Grand Total</strong></td>
                                <td>Rs. {{ order.get_total_cost }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}