* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    z-index: 1;
}

.initial {
    position: relative;
    text-align: center;
    background-image: url("../img/home.jpg");
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.about {
    background-image: url("../img/home.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color: rgb(255, 219, 219);
    min-height: 30vh;
    padding: 10vh 10vw;
}

.card {
    margin: 10px 4px;
    transition: .6s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-block {
    padding: 10px;
}

.restaurant-logo {
    justify-content: center;
    align-items: center;
}
