.navbar {
    background-color: rgba(17, 14, 14, 0.9);
    z-index: 1;
}

.login-btn {
    background-color: rgb(92, 238, 92);
    border-radius: 20px;
    padding: 10%;
}

.searchbox-container {
    transform: translateY(-50vh);
    z-index: 1;
}

.about {
    background-image: url("../img/home.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color: rgb(255, 219, 219);
    min-height: 30vh;
    padding: 10vh 10vw;
}

.card {
    border: 2px solid red;
    margin: 10px 4px;
    transition: .6s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-block {
    padding: 10px;
}

.scrollcards {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

div.scrollcards .card {
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    height: auto; 
    width: 300px;
}
.restaurant-logo{
    justify-content: center;
    align-items: center;
}