.navbar {
    background-color: rgba(17, 14, 14, 0.9);
    z-index: 1;
}

.login-btn {
    background-color: rgb(92, 238, 92);
    border-radius: 20px;
    padding: 10%;
}

.searchbox-container {
    transform: translateY(-50vh);
    z-index: 1;
}

.about {
    background-image: url("../img/home.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color: rgb(255, 219, 219);
    min-height: 30vh;
    padding: 10vh 10vw;
}

.placeholder {
    min-height: 50vh;
    padding: 10vh 20vw;
}
