* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.food img {
    background-color: red;
}

#cart-icon:after {
    content: attr(value);
    font-size: 12px;
    background: red;
    border-radius: 50%;
    padding: 2px 5px;
    position: relative;
    left: -8px;
    top: -10px;
    width: 10px;
    height: 10px;
    opacity: 0.9;
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.star-ratings-rating-average,
.star-ratings-rating-count,
.star-ratings-rating-user {
    display: none;
}

.navbar {
    z-index: 1;
}

.about {
    background-image: url("../img/home.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color: rgb(255, 219, 219);
    min-height: 30vh;
    padding: 10vh 10vw;
}

.card {
    margin: 10px 4px;
    transition: .6s ease;
}

.card-block {
    padding: 10px;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.img-container {
    overflow: hidden;
    margin: 0 auto;
}

.display-img {
    width: 100%;
    opacity: 0.8;
    transition: 0.7s all ease-in-out;
}

.card:hover .display-img {
    transform: scale(1.1);
    opacity: 1.0;
    background-color: rgba(red, green, blue, alpha);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.order_history:hover{
    background-color: bisque;
}

.discount-tag {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-left {
    position: absolute;
    top: 11px;
    transform: rotate(-45deg);
    color:white;   
  }

.tag{
    background-color:tomato;
    padding: 1px 1.5px;
    transform: rotate(40deg);
}