{% extends 'base/base.html' %}
{% load static %}
{% load ratings %}

{% block content %}
<div class="container" style="overflow: hidden;">

    <div class="container" style="padding: 20px 0;" id="food">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-6">
                <h4 class="display-inline"><i class="fas fa-cookie-bite"></i> Hot picks</h4>
            </div>
            <div class="col-md-6">
                <a href="{% url 'foods:food_list' %}" class="float-end display-inline text-decoration-none">
                    View All <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            {% for food in foods %}
            <div class="col-md-3">
                <div class="card h-100" style="height: 300px auto; margin-bottom:10px;">
                    <div class="imgcontainer">
                        <img class="thumbnail food"
                            src="{% if food.image %}{{ food.image.url }}{% else %}{% static 'base/img/no_image.png' %}{% endif %}"
                            style=" height:200px" />
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{{ food.get_absolute_url_for_customer }}"
                                class="text-dark text-decoration-none">{{ food.name }}</a>
                        </div>
                        {% if food.discount_percent > 0 %}
                        <small class="text-muted"><img src="{% static 'base/img/tag.png' %}"
                                style="width: 20px; height: 20px;" />
                            {{ food.discount_percent }}% off</small><br />
                        {% else %}
                        <br />
                        {% endif %}
                        <small>{{ food.category.name }}</small>
                        <br />
                        <small>
                            {% if food.discount_percent > 0 %}
                            Rs. <del class="text-muted">{{ food.price }}</del> {{ food.get_selling_price }}
                            {% else %}
                            Rs. {{ food.price }}
                            {% endif %}
                        </small>
                        <br />
                        <small>{{ food.restaurant.name }}</small>
                        <br />
                        {% ratings food %}
                    </div>
                </div>
            </div>
            {% empty %}
            Sorry, no food found!
            {% endfor %}
        </div>
    </div>

    <div class="container" style="padding: 20px 0;" id="restaurants">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-6">
                <h4 class="display-inline-block"><i class="fas fa-hotel"></i> Explore Restaurants</h4>
            </div>
            <div class="col-md-6">
                <a href="{% url 'restaurants:restaurant_list' %}"
                    class="float-end display-inline-block text-decoration-none">
                    View All <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            {% for restaurant in restaurants %}
            <div class="col-md-3">
                <div class="card" style="height: 300px auto; margin-bottom:10px;">
                    <div class="imgcontainer">
                        <img class="thumbnail restaurant-logo food"
                            src="{% if restaurant.logo %}{{restaurant.logo.url}} {% else %} {% static 'base/img/no_image.png' %}{% endif %}"
                            style=" height:200px" />
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <a href="{{ restaurant.get_absolute_url }}"
                                class="text-dark text-decoration-none">{{ restaurant.name }}</a>
                        </div>
                        <small>{{ restaurant.category.name }}</small><br />
                        <small><i class="fa fa-clock text-muted"></i> {{ restaurant.open_hour }} -
                            {{ restaurant.close_hour }}</small>
                        <br />
                        {% ratings restaurant %}
                    </div>
                </div>
            </div>
            {% empty %}
            Sorry, no restaurant found!
            {% endfor %}
        </div>
    </div>

    <div class="container" style="padding: 20px 0;" id="how-to-order">
        <div class="row">
            <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
                <img src="{% static 'base/img/food-vector.png' %}" style="max-width: 80vw;" />
            </div>
            <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center justify-content-center">
                <h4 class="align-items-center">Order and enjoy your favourite meal</h4>
                <h5 class="text-secondary">And have a good day ahead!</h5>
                <a href="{% url 'base:howtoorder' %}" class="btn btn-outline-primary">How to order?</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra %}
<div class="fluid-container">
    <div class="about">
        <div>
            <h3 style="text-align: center;">About Us</h3>
            <p style="width: 70%; height: max-content;" class="mx-auto my-auto text-center">
                Food Express connects users and restaurants and helps fulfill the objective of both the parties.
                It opens up a plethora of choices in foods and restaurants for users in their area. There is no
                age barrier and provides varieties of foods for all.
            </p>
        </div>
    </div>

    <div class="justify-content-between bg-dark text-light" style="padding: 10vh 10vw;">
        <div class="row">
            <div class="d-flex flex-column col-md-6 col-sm-12 text-nowrap justify-content-center">
                <h4>Food Express</h4><br />
                <p class="text-muted"><small>&copy; All rights reserved</small></p>
                <a class="text-decoration-none text-secondary text-nowrap" href="mailto:foodexpressnepal@gmail.com">
                    <i class="fa fa-envelope"></i> foodexpressnepal@gmail.com
                </a>
            </div>
            <div class="col-md-4 col-sm-12 align-items-center">
                <div class="d-flex flex-column justify-content-between">
                    <h5>Menu</h5>
                    <a href="{% url 'restaurants:restaurant_list' %}"
                        class="text-decoration-none text-secondary">Restaurants</a>
                    <a href="{% url 'foods:food_list' %}" class="text-decoration-none text-secondary">Foods</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 align-items-center">
                <div class="d-flex flex-column">
                    <h5>Address</h5>
                    <p class="text-secondary text-nowrap">
                        Dhulikhel, Kavre<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock extra %}