{% extends "base/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h2>How to Order?</h2>
        <p class="text-muted">It's fairly easy to order food using Food Express.</p>
    
        <ol style="padding-left: 1.2em; line-height: 2;">
            <li style="padding-left: 10px;">
                Choose your favourite foods available to you in the homepage or the foods page.
                You may also visit the detail page of your preferred restaurant and then find the food they provide.
            </li>
            <li style="padding-left: 10px;">
                Add the food to cart mentioning the preferred quantity. 
                You'll be redirected to the cart page where you can still modify the quantity of items.
                You may still continue to shop for more food items and place them in your cart.
            </li>
            <li style="padding-left: 10px;">
                Checkout to place the order and choose the mode of payment.
            </li>
            <li style="padding-left: 10px;">
                After a quick verification, you'll find your food delivery man knocking at your door.
            </li>
        </ol>
    </div>
{% endblock %}